<?xml version="1.0" encoding="UTF-8" ?>    
<widget xmlns   = "http://www.w3.org/ns/widgets?" 
       xmlns:gap   = "http://phonegap.com/ns/1.0?" 
       id          = "com.Medicare.Doctor"
	   versionCode = "10"         
	   version     = "1.0.0" >    <!-- versionCode is optional and Android only -->    
	   <name>MedicareDoctor</name>    
	   <description>        The Center for Medicare and Medicaid Services for the first time, has made public the payments made to 880,000 medical providers. This data is for the year 2012.
							This application provides this payment information. Search and find out if your provider is using the taxpayer(you) and government funds responsibly..     
	   </description>    
	   <author href="https://build.phonegap.com?" email="rahultcs@hotmail.com">
			Rahul Arora     
	   </author>
	   <icon src="icon.png" />
	   <gap:splash src="splash.png" />	
	  
</widget>